{% extends "masklink/base.html" %}

{% block content %}
    <div class="p-3 mb-2 bg-secondary text-white"><h3 class="text-center"> Search Mask For Kids </h3></div>
    
    <form method="POST", class="form-horizontal", role="form", action="{% url 'masklink:mask_spider' %}">
        {% csrf_token %}
        <p class="font-weight-bold">{{ form.as_p }}</p>
        <div class="form-group">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-warning form-control">Run The Crawl</button>
            </div>
        </div>
    </form>
<!-- filter -->
    <form method='get'>
        {{ filtered_masks.form.as_p}}
        <imput type="submit" value = "Filter">
        </imput>
    </form>

    {%for mask in filtered_masks %}
        <h6>
            {{mask.brand}}
            <br>
            {{mask.size}}
            <br>
            {{mask.available}}
        </h6>
    {% endfor %}
<!-- filter -->

    {% if page_obj %}
        <h3> Search Results </h3>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Brand</th>
                <th>Size</th>
                <th>Price</th>
                <th>Availablity</th>
                <th>Filtration Efficiency</th>
                <th>Purchasing Link</th>
                <!-- <th>Update Time</th> -->
            </thead>
        <!--------------------------------------------------------------------------->
            <tbody>
            {% for mask in page_obj %}
                <tr>
                    <td> {{ mask.name }} </td>
                    <td> {{ mask.brand }} </td>
                    <td> {{ mask.size }} </td>
                    <td> ${{ mask.price }}/per mask </td>
                    <td> {{ mask.available }} </td>
                    <td> {{ mask.fe }}% </td>
                    <td> <a href="{{mask.link}}">Purchasing </a></td>
                    <!-- <td> {{ mask.time }}% </td> -->
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% else %}
        <p> No Search Result. </p>
    {% endif %}

    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link"> {{ i }} </span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
         
        </ul>
    </nav>
{% endif %}


{% endblock %}